    <footer>
        <div id="copywright">
            <p>Copyright © 2025 Hue Lab</p>
        </div>
        <div class="flex">
            <section class="left">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About Us</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="/formulation">Formulation</a></li>
                    <li><a href="#">Ingredients</a></li>
                </ul>
            </section>
            <section class="right">
                <ul>
                    <li><a href="/">News</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </section>
        </div>
    </footer>
</body>
</html>