<footer>
    <div>
        <p>Copyright © 2025 Hue Lab</p>
        <ul class="socials">
            <li><a href="#">YouTube</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Newsletter</a></li>
        </ul>
    </div>
    <div class="flex">
        <section class="left">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About Us</a></li>
            </ul>
            <ul>
                <li><a href="#">Shop</a></li>
                <li><a href="/formulation">Formulation</a></li>
                <li><a href="#">Ingredients</a></li>
            </ul>
        </section>
        <section class="right">
            <ul>
                <li><a href="/">News</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </section>
    </div>
  </footer>
</body>
</html>