<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Profile | Hue Lab</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div id="discount" class="pt-4">
      <p>Receive 10% off your first order & Free Shipping on orders over $50!</p>
    </div>
    <nav>
      <img id="logo" src="/img/logo.png">
      <ul class="pt-2">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/formulation">Formulation</a></li>
        <li><a href="/support">Customer Support</a></li>
      </ul>
      <a href="/logout" class="btn btn-outline-light btn-sm" id="logoutBtn">Logout</a>
      <!-- add shopping cart -->
    </nav>
    <div class="" id="title">
      <h1>About Us</h1>
    </div>
  </header>
    <div class="container">
      <div id="contentContainer">
        <img id="hueLabImg" src="img/HueLab.jpeg">
        <p>Hue Lab was founded on a deeply personal realization: finding the right foundation shade shouldn't be a struggle. As someone with a diverse skintone, I often found myself standing in beauty aisles trying to mix two, sometimes even three, foundation colors just to create a shade that felt like mine. I realized I wasn’t alone and that the beauty industry still has a long way to go when it comes to inclusive shade ranges and personalized experiences. That frustration became the spark for innovation.</p>

        <p>With a background in both chemistry and software engineering, I saw an opportunity to bridge science and beauty through technology. Hue Lab is a full-stack application that uses real-time color detection and cosmetic formulation principles to create a foundation formula that’s tailored to your unique skin tone. By analyzing your undertones and skin hue through your camera and pixel data, we craft a custom blend. No more guessing, no more compromises.</p>

        <p>But Hue Lab is more than a tool, it's a statement. It's about creating a space in the beauty world that values precision, individuality, and inclusion. For too long, people with beautiful complexions have been underserved by generic “one-size-fits-most” offerings. Hue Lab changes that by giving users the ability to generate, name, and store their perfect match backed by cosmetic science and accessible tech.</p>

        <p>Whether you're someone who has never found their true shade or simply curious about the power of personalization, Hue Lab is here to empower you with the tools to define your beauty, on your terms.</p>

        <p>Your skin deserves more than a close match. It deserves a formula made just for you.</p>
      </div>
    </div>
  <script src="https://unpkg.com/chroma-js"></script>
  <script src="main.js"></script>
</body>
</html>