<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulation | Hue Lab</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div id="discount" class="pt-4">
    <p>Receive 10% off your first order & Free Shipping on orders over $50!</p>
  </div>
  <nav>
    <img id="logo" src="/img/logo-removebg.png">
    <ul class="pt-2">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/formulation">Formulation</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
    <div class="buttonContainer">
      <a href="/profile" class="fa fa-user"></a>
      <a href="/profile" class="fa fa-shopping-cart"></a>
      <a href="/logout" class="btn btn-outline-light btn-sm" id="logoutBtn">Logout</a>
    </div>
    <!-- add shopping cart -->
  </nav>
  <div class="" id="title">
    <h1>Formulation</h1>
  </div>
  <div class="hidden py-4">
    <div class="col-sm-6">
      <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>
          <% if (user.local.email) { %>
              <p>
                  <strong>id</strong>: <%= user._id %><br>
                  <strong>email</strong>: <span id="email"><%= user.local.email %></span><br>
                  <strong>password</strong>: <%= user.local.password %>
              </p>
              <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %>
              <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>
      </div>
    </div>
  </div>
  <div class="formulationContainer">
    <!-- camera to capture hex color from skin -->
    <div  id="cameraContainer">
      <h2 class="mb-3">Find Your Shade</h2>

      <div id="camera-wrapper">
        <video id="video" autoplay></video>
        <div id="face-outline"></div>
      </div>

      <button class="btn btn-pink captureBtn">Capture Image</button>
    </div>
      <!-- eyedropper tool to select the pixel to determine your formula from -->
    <div class="hidden" id="matchContainer">
      <h3>Select Your Shade</h3>
      <canvas id="picture"></canvas>
      <p>Pick a color using the eyedropper tool below</p>
      <button class="btn btn-pink" id="pickColor">Pick Color</button>
    </div>
    
    <div class="hidden" id="swatchContainer">
      <h3>Your Perfect Hue</h3>
      <div id="swatch"></div>
      <p id="hexLabel"></p>

      <h3 id="perfectMatch" class="hidden">We found a perfect match!</h3>

      <p class="" id="matchResults">
        <span id="name"></span>
        <span id="formula"></span>
      </p>
    </div>

    <div class="hidden" id="nameContainer">
      <h3>Give your formula a name</h3>
      <input id="shadeName" type="text" value="" placeholder="Shade Name i.e Caramel Cutie">

      <button id="formulate" type="submit" class="btn btn-pink">Formulate</button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/main.js"></script>
  <%- include('partials/footer') -%>
</body>
</html>
