*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fonts */
.zilla-slab-light {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: normal;
}

.zilla-slab-regular {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.zilla-slab-medium {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
}

.zilla-slab-semibold {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: normal;
}

.zilla-slab-bold {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: normal;
}

.zilla-slab-light-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: italic;
}

.zilla-slab-regular-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: italic;
}

.zilla-slab-medium-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: italic;
}

.zilla-slab-semibold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: italic;
}

.zilla-slab-bold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: italic;
}
/* body and all pages styling */
body{
  word-wrap:break-word;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, "Zilla Slab";
}

.hidden{
  display: none !important;
}

.fullPage{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#discount{
  padding: 5px;
  height: 25px;
  width: 100%;
  background-color:black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid gray;
  position: sticky;
	top:0;
}

#logoDiv{
  width: 25%;
  display: flex;
  align-items: center;
}

#logo{
  width: 150px;
  padding: 5px;
}

nav ul{
  display: flex;  
  align-items: center;
  gap: 25px;

}

nav li{
  width: auto;
  height: auto;
  font-size: 20px;
}

#title h1{
  font-size: 3rem;
}

ul{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

li{
  list-style: none;
  text-align: center;
}

li a{
  text-decoration: none;
  color: black;
}

footer{
  width: 100%;
  height: 250px;
  background-color: black;
  color: white;
  display: flex;
  padding: 10px;
  margin-top: 25px;
}

footer div{
  width: 50%;
}

footer li a{
  color: white;
}

.flex{
  display: flex;
}

.flex section{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.flex section ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3em;
  margin-top: 40px;
}

#copywright{
  display: flex;
  align-items: flex-end;
}
/* index.ejs */
.buttonContainer{
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer a{
  color: black;
}

#mainHeader{
  height: 79px;
}

#mainContainer{
  width: 100%;
  height: auto;
  background-color:white;
}

#main{
  height: 700px;
  border-radius: 2%;
  width: 100%;
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(247, 225, 227, 1) 81%, rgba(255, 192, 203, 1) 100%);
}

#mainTop{
  width: 100%;
  height: 80%;
  display: flex;
}
.titleSection{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  padding: 25px 50px;
}

.titleSection a{
  margin-top: 15px;
  width: 50%;
}

.titleSection h1{
  font-size: 2.5em;
}

.titleSection h2{
  font-size: 1.5em;
}

.imageSection{
  height: 100%; 
  width: 60%;
  display: flex;
  align-items: flex-end;
}

.imageSection img{
  height: auto;
  max-width: 100%;
}

#descriptionBanner{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 1px 2px black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#descriptionBanner ul{
  width: 100%;
}

#descriptionBanner li{
  height: 100%;
  color: black;
}

#productSection{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#howItWorks{
  display: flex;
  height: 600px;
}

#howItWorks div{
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

#howItWorks div ul{
  display: flex;
  flex-direction: column;
}

#howItWorks img{
  max-width: 100%
}

#bottleSection{
  display: flex;
  justify-content: flex-end;
}

#bottleSection div{
  width: 30%;
  display: flex;
  align-items: center;
}
 
#bottleSection h3{
  width: 100%;
  font-size: 4em;
  font-weight: bold;
}

#bottleSection img{
  max-height: 100%;
  max-width: 100%;
}

#steps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#steps li{
 text-align: left;
}

/* #perfectHue{
  background-image: url(img/perfectHue.png);
  background-size: cover;
  color: rgb(95, 54, 29);
  text-shadow: 2px 2px 5px white;
} */
/* section pages */
#title{
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7E1E3;
  /* background-image: url(img/titleBackground.png); */
  background-size: cover;
  text-shadow: 1px 1px 5px white;
}

#imgSection{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.imgDiv{
  height: 250px;
  width: 33.333%;
}

.productImg{
  height: 200px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 25px;
}

#logoutBtn{
  width: 50%;
  align-self: flex-end;
}

.btn, .btn-pink {
  background-color: #ffc1cc;
  border: none;
  color: black;
  font-size: 1em;
}

.btn:hover, .btn-pink:hover {
  background-color: #e89ca9;
}

/* Formulation Page */
#camera-wrapper {
  position: relative;
  width: 400px;
  height: 500px;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

#face-outline {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  border: 3px dashed  #F7E1E3;
  border-radius: 50% / 40%;
  transform: translate(-50%, -50%);
  pointer-events: none; 
  box-shadow: 0 0 10px 5px pink;
}

#picture{
  width: 550px;
  height: 500px;
}

#swatch{
  width:300px; 
  height:300px; 
  margin-top:10px; 
  border:1px solid black;
}

.formulationContainer{
  width: 100%;
  height: 700px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

#cameraContainer, #matchContainer, #swatchContainer, #nameContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#nameContainer input{
  width: 20%;
  padding-left: 5px;
}

#matchResults{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile */
.formulasContainer{
  width: 100%;
}

.titleDiv{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.titleDiv h2{
  font-size: 2.5em;
}

#yourFormulas ul{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;;
}

#formulaList{
  gap: 10px;
}

.formulaTiles{
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  border: 2px solid black;
}

.formulaTiles p{
  padding: 0;
  margin: 0;
}

.infoContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoTitles{
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.iconsContainer{
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 0 5% 5%;
}

/* About Us */
#contentContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid black; 
  border-radius: 15px;
  padding: 25px 100px 100px;
}

/* Contact  */

#formContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#F7E1E3;
  border-radius: 10px;
  box-shadow: 10px 5px 10px pink;
  padding: 25px;
  margin-top: 50px;
}

#contactHeader{
  font-size: 1.5em;
}

#hueLabImg{
  height: 300px;
  width: 300px;
  padding: 30px;
}

#contactForm{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

#contactForm input{
  height: 50px;
}

#contactForm textarea{
  height: 250px;
}