*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fonts */
.zilla-slab-light {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: normal;
}

.zilla-slab-regular {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.zilla-slab-medium {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
}

.zilla-slab-semibold {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: normal;
}

.zilla-slab-bold {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: normal;
}

.zilla-slab-light-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: italic;
}

.zilla-slab-regular-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: italic;
}

.zilla-slab-medium-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: italic;
}

.zilla-slab-semibold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: italic;
}

.zilla-slab-bold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: italic;
}
/* body and all pages styling */
body{
  word-wrap:break-word;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Times, "Zilla Slab";
}

.hidden{
  display: none;
}

.fullPage{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#discount{
  padding: 5px;
  height: 25px;
  background-color:black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid gray;
}

#logo{
  width: 10%;
  border-radius: 5px;
  padding: 5px;
}

nav ul{
  display: flex;  
  gap: 25px;
}

nav li{
  width: auto;
  height: auto;
  font-size: 20px;
}

#title h1{
  font-size: 3rem;
}

header{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
}

/* footer{
  height: 300px;
  width: 100%;
  background-color: black;
  color: white;
} */

ul{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

li{
  list-style: none;
  text-align: center;
}

li a{
  text-decoration: none;
  color: black;
}

/* index.ejs */
.buttonContainer{
  width: 15%;
}

#mainHeader{
  height: 79px;
}

#mainContainer{
  width: 100%;
  height: 100vh;
  background-color:white;
}

#main{
  height: 700px;
  border-radius: 2%;
  width: 100%;
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(247, 225, 227, 1) 81%, rgba(255, 192, 203, 1) 100%);
}

#mainTop{
  height: 80%;
  display: flex;
}
.titleSection{
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
}

.titleSection button{
  width: 15%;
}

.imageSection{
  height: 100%; 
  width: 30%;
}

.imageSection img{
  height: 100%;
}

#descriptionBanner{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 1px 2px black;
}

#descriptionBanner ul{
  width: 100%;
}

#descriptionBanner li{
  height: 100%;
  color: black;
}

#productSection{
  height: 600px;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#howItWorks{
  width: 95%;
  height: 250px;
  border-radius: 15px;
}

/* section pages */
#title{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7E1E3;
  /* background-image: url(img/titleBackground.png); */
  background-size: cover;
  text-shadow: 1px 1px 5px white;
}

#imgSection{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.imgDiv{
  height: 250px;
  width: 33.333%;
}

.productImg{
  height: 200px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logoutBtn{
  width: 50%;
  align-self: flex-end;
}

.btn, .btn-pink {
  background-color: #ffc1cc;
  border: none;
  color: black;
}

.btn:hover, .btn-pink:hover {
  background-color: #e89ca9;
}

.pageContent{
  width: 100%;
  display: flex;
  padding: 0 10px;
}
/* Formulation Page */
#camera-wrapper {
  position: relative;
  width: 400px;
  height: 500px;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

#face-outline {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  border: 3px dashed  #F7E1E3;
  border-radius: 50% / 40%;
  transform: translate(-50%, -50%);
  pointer-events: none; 
  box-shadow: 0 0 10px 5px pink;
}

#picture{
  width: 300px;
  height: 225px;
}

#swatch{
  width:100px; 
  height:100px; 
  margin-top:10px; 
  border:1px solid black;
}

.formulationContainer{
  width: 100%;
  height: 500px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#cameraContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Profile */
.profile{
  height: 500px;
  width: 30%;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5%;
}
.profile div{
  width: 100%;
}

#formulaList{
  gap: 10px;
}

.formulaTiles{
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
}

.formulaTiles p{
  padding: 0;
  margin: 0;
}

.infoContainer{
  margin:20px 0 75px 0;
}

.iconsContainer{
  display: flex; 
  justify-content:space-between;
  gap: 5px;
}

/* About Us */
#contentContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid black; 
  border-radius: 15px;
  padding: 20px;
}

/* Contact  */

#formContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#F7E1E3;
  border-radius: 10px;
  box-shadow: 10px 5px 10px pink;
  padding: 20px;
}

#hueLabImg{
  height: 300px;
  width: 300px;;
}

#contactForm{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

#contactForm input{
  height: 50px;
}

#contactForm textarea{
  height: 250px;
}