*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.zilla-slab-light {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: normal;
}

.zilla-slab-regular {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.zilla-slab-medium {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
}

.zilla-slab-semibold {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: normal;
}

.zilla-slab-bold {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: normal;
}

.zilla-slab-light-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: italic;
}

.zilla-slab-regular-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: italic;
}

.zilla-slab-medium-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: italic;
}

.zilla-slab-semibold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: italic;
}

.zilla-slab-bold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: italic;
}


body{
  word-wrap:break-word;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Zilla Slab";

}

.hidden{
  display: none;
}

header{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
}
/* index.ejs */
#mainHeader{
  height: 79px;
}

#mainContainer{
  width: 100%;
  height: 550px;
  padding: 0;
  margin: 0;
  background-color: rgb(249,227,206);
}

#mainContainer img{
  height: 500px;
  float: right;
}

#descriptionContainer{
  width: 100%;
  height: 600px;
}

#descriptionBanner{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background-color:  #fbccd5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
}

#descriptionBanner ul{
  width: 100%;
}

#descriptionContainer li{
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
}

#productSection{
  height: 600px;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#howItWorks{
  width: 95%;
  height: 250px;
  border-radius: 15px;
  background-color: rgb(249,227,206);
}

#discount{
  padding: 5px;
  height: 25px;
  background-color:rgb(249,227,206);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #fbccd5;
}

#logo{
  width: 10%;
  border-radius: 5px;
  padding: 5px;
}

nav ul{
  display: flex;  
  gap: 25px;
}

nav li{
  width: auto;
  height: auto;
  font-size: 20px;
  color: pink;
}

#title{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/titleBackground.png);
  background-size: cover;
  text-shadow: 1px 1px 5px whtie;
}

#title h1{
  font-size: 3rem;
}
#imgSection{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.imgDiv{
  height: 250px;
  width: 33.333%;
}

.productImg{
  height: 200px;
}

ul{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

li{
  color: white;
  width: 250px;
  height: 250px;
  list-style: none;
  text-align: center;
}

li a{
  text-decoration: none;
  color: black;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logoutBtn{
  width: 10%;
  align-self: flex-end;
}

.btn, .btn-pink {
  background-color: #ffc1cc;
  border: none;
}

.btn:hover, .btn-pink:hover {
  background-color: #e89ca9;
}

#camera-wrapper {
  position: relative;
  width: 400px;
  height: 500px;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

#face-outline {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  border: 3px dashed   #fbccd5;
  border-radius: 50% / 40%;
  transform: translate(-50%, -50%);
  pointer-events: none; 
  box-shadow: 0 0 10px 5px pink;
}

#picture{
  width: 300px;
  height: 225px;
}

#swatch{
  width:100px; 
  height:100px; 
  margin-top:10px; 
  border:1px solid black;
}
/* Home */
.titleSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10%;
  padding-left: 5%;
}

.titleSection button{
  width: 50%;
}

#homeNav #buttonContainer{
  width: 15%;
}
/* Formulation */
.formulationContainer{
  width: 100%;
  height: 500px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#cameraContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Profile */
.formulaTiles{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.formulaTiles p{
  padding: 0;
  margin: 0;
}

.iconsContainer{
  display: flex; 
  justify-content:space-between;
}
/* About Us */
#contentContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid black; 
  border-radius: 15px;
  padding: 20px;
}

/* Customer Support */

#formContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#fce4ec;
  border-radius: 10px;
  box-shadow: 10px 5px 10px pink;
  padding: 20px;
}

#hueLabImg{
  height: 300px;
  width: 300px;;
}

#contactForm{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

#contactForm input{
  height: 50px;
}

#contactForm textarea{
  height: 250px;
}